/***************************************************************************/
/*                                                                         */
/*            CSS File responsible for the water drop element.             */
/*                                                                         */
/***************************************************************************/


/* CONTENT
-------------------------------------------------- */
.header-image {
    background: url( '/images/sobrenos.jpg' ) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

