/***************************************************************************/
/*                                                                         */
/*            CSS File responsible for the water drop element.             */
/*                                                                         */
/***************************************************************************/

/* MARKETING CONTENT
-------------------------------------------------- */
.header-image {
    background: url( '/images/contatos.jpg' ) no-repeat center center scroll;
}
#map-container {
	width: 200px;
	height: 200px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media( min-width: 768px ) {
    #map-container {
		width: 400px;
		height: 400px;
	}
}
@media( min-width: 992px ) {
}
@media( min-width: 1200px ) {
}

