/***************************************************************************/
/*                                                                         */
/*            CSS File responsible for the text elements. Where            */
/*            colors, sizes, among others are defined                      */
/*                                                                         */
/***************************************************************************/
/* GLOBAL STYLES
-------------------------------------------------- */
.name-black {
	color: #000000;
}
.name-green {
	color: #13A16F;
}
.home a:hover {
    color: #13A16F;
}
.name {
	display: block;
	font-size: 50px;
	font-weight: bold;
}
h1.descriptor {
    margin-top: 10px;
	font-size: 28px;
}
.font-link {
    font-size: 16px;
    color: white;
}

.row ul {
    list-style: none;
    padding: 0;
}
.row ul li:before {
    font-family: 'Glyphicons Halflings';
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 10px;
    content: "\e080";
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media( min-width: 750px ) {
    .name {
	   font-size: 60px;
    }
    h1.descriptor {
	   font-size: 32px;
    }
    .font-link {
        font-size: 18px;
    }
}

@media screen and ( orientation: portrait ) {
    .name {
	   font-size: 62px;
    }
    h1.descriptor {
	   font-size: 36px;
    }
    .font-link {
        padding-top: 15px;
        font-size: 28px;
    }
}

@media( min-width: 1200px ) {
    .font-link {
        font-size: 23px;
    }
}


