/***************************************************************************/
/*                                                                         */
/*            CSS File responsible for the text elements. Where            */
/*            colors, sizes, among others are defined                      */
/*                                                                         */
/***************************************************************************/

/* NAVBAR
-------------------------------------------------- */
.navbar-logo {
	width: 25px;
	height: 25px;
	margin-top: -3px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

/* HEADER IMAGE
-------------------------------------------------- */
.header-image {
    display: block;
    width: 100%;
    text-align: center;
}
.headline {
    padding: 120px 0;
}
.headline h1 {
    font-size: 130px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}
.headline h2 {
    font-size: 77px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

/* GLOBAL STYLES
-------------------------------------------------- */
.featurette {
    align-items: center;
}
.featurette-heading {
	margin-top: 60px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}
.featurette-divider {
    margin: 30px 0;
}
.featurette-last {
	margin-bottom: -30px;
}
.featurette-value {
    text-align: center;
}

/***** *****/
.footer {
    margin-top: 20px;
}

/***** *****/
.name-black {
	color: #000000;
}
.name-green {
	color: #13A16F;
}
.home a:hover {
    color: #13A16F;
}
.name {
	display: block;
	font-size: 50px;
	font-weight: bold;
}
h1.descriptor {
    margin-top: 10px;
	font-size: 28px;
}
.font-link {
    font-size: 16px;
    color: white;
}

/*****  *****/
.row ul {
    list-style: none;
    padding: 0;
}
.row ul li:before {
    font-family: 'Glyphicons Halflings';
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 10px;
    content: "\e080";
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media screen and ( orientation: portrait ) {
    .name {
	   font-size: 62px;
    }
    h1.descriptor {
	   font-size: 36px;
    }
    .font-link {
        padding-top: 15px;
        font-size: 28px;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }
    .headline h1 {
        font-size: 60px;
    }
    .headline h2 {
        font-size: 30px;
    }
}
@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }
    .headline h2 {
        font-size: 32px;
    }
}
@media( min-width: 750px ) {
    .featurette {
        width: 750px;
    }
	.featurette-heading {
		margin-top: 90px;
		font-size: 50px;
	}
    
    .name {
	   font-size: 60px;
    }
    h1.descriptor {
	   font-size: 32px;
    }
    .font-link {
        font-size: 18px;
    }
}
@media( min-width: 992px ) {
    .featurette {
        width: 970px;
    }
    .headline h1 {
        font-size: 105px;
    }
    .headline h2 {
        font-size: 50px;
    }
}
@media( min-width: 1200px ) {
    .featurette {
        width: 1170px;
    }
    .font-link {
        font-size: 23px;
    }
    .headline h1 {
        font-size: 140px;
    }
    .headline h2 {
        font-size: 63px;
    }
}

