/***************************************************************************/
/*                                                                         */
/*            CSS File responsible for the water drop element.             */
/*                                                                         */
/***************************************************************************/

/* HOME CONTENT
-------------------------------------------------- */
.home {
	display: flex;
    align-items: center;
	text-align: center;
	color: #FFFFFF;
	min-width: 260px;
	min-height: 230px;
	background-color: #90B438;
}

.home .logo {
	width: 100px;
	height: 100px;
	margin: auto;
}

.home .content {
    padding-top: 40px;
}

.home .contentLink {
     padding-top: 100px;
}
.home .dropLink {
    width: 17.5px;
	height: 26.25px;
}
.home .link {
    height: 50px;
}


.home .footer {
    margin-top: 20px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */
@media( min-width: 768px ) {
	.home .logo {
		width: 200px;
		height: 200px;
	}
}

@media( min-width: 750px ) {
}

@media( min-width: 992px ) {
	.home .col-md-2 {
		width: 20% !important;
	}
}
