/***************************************************************************/
/*                                                                         */
/*            CSS File responsible for the water drop element.             */
/*                                                                         */
/***************************************************************************/

/* NAVBAR
-------------------------------------------------- */
.navbar-logo {
	width: 25px;
	height: 25px;
	margin-top: -3px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}