/***************************************************************************/
/*                                                                         */
/*            CSS File responsible for the water drop element.             */
/*                                                                         */
/***************************************************************************/

/* MARKETING CONTENT
-------------------------------------------------- */
.header-image {
    background: url( '/images/oquefazemos.jpg' ) no-repeat center center scroll;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media( min-width: 768px ) {
	.embed-responsive {
		margin-top: 30px;
	}
}
@media( min-width: 992px ) {
	.embed-responsive {
		margin-top: 60px;
	}
}
@media( min-width: 1200px ) {
}
