/***************************************************************************/
/*                                                                         */
/*            CSS File responsible for the water drop element.             */
/*                                                                         */
/***************************************************************************/

/* MARKETING CONTENT
-------------------------------------------------- */
img {
    max-width: 200px !important;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media( min-width: 768px ) {
	.carousel {
		margin-top: 30px;
	}
    img {
        max-width: 400px !important;
    }
}
@media( min-width: 992px ) {
	.carousel {
		margin-top: 60px;
	}
}
@media( min-width: 1200px ) {
}
