<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching enabled="true" enableKernelCache="true">
            <profiles>
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".ttf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="default.htm" />
                <add value="default.html" />
                <add value="index.php" />
                <add value="default.aspx" />
                <add value="index.aspx" />
                <add value="default.php" />
                <add value="default.asp" />
                <add value="index.asp" />
                <add value="_ParkingPage.asp" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" existingResponse="PassThrough">
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" subStatusCode="-1" prefixLanguageFilePath="" path="php" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
